# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
.env
.env.*
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Sistema operativo
Thumbs.db
Desktop.ini
.DS_Store

# Datasets

# No versionar los datasets originales completos
datasets/**/raw/

# No versionar imágenes de datasets
datasets/**/*.png
datasets/**/*.jpg
datasets/**/*.jpeg
datasets/**/*.bmp
datasets/**/*.tif
datasets/**/*.tiff
datasets/**/*.webp

# No versionar archivos comprimidos
datasets/**/*.zip
datasets/**/*.rar
datasets/**/*.7z
datasets/**/*.tar
datasets/**/*.gz

# No versionar documentación original de los datasets
datasets/**/metadata/*.pdf

# IMPORTANTE:
# Los archivos pequeños necesarios para reproducibilidad
# (CSV/JSON de metadata, splits y configuraciones)
# sí se conservan en Git.
#
# Ejemplos:
# datasets/RD/.../*.csv
# datasets/glaucoma/chaksu/metadata/chaksu_master.csv
# datasets/glaucoma/chaksu/metadata/chaksu_splits.csv
# datasets/glaucoma/chaksu/metadata/chaksu_train.csv
# datasets/glaucoma/chaksu/metadata/chaksu_validation.csv
# datasets/glaucoma/chaksu/metadata/chaksu_test.csv


# Modelos entrenados

# Los .keras SÍ se versionan mediante Git LFS.
# No agregar:
# *.keras

# Otros formatos pesados pueden ignorarse si se utilizan:
# *.h5
# *.hdf5
# *.onnx
# *.pb


# TensorFlow / entrenamiento
logs/
tensorboard/
**/logs/
**/tensorboard/

# Archivos temporales de entrenamiento
*.tmp
*.temp

# Python / herramientas
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Cachés
.cache/
**/.cache/

# Archivos temporales del sistema/editor
*.swp
*.swo
*~

# Documentación original de datasets
datasets/**/metadata/*.pdf
