# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/

# IDE
.vscode/
.idea/

# Large dataset raw and processed images (conservar estructura con .gitkeep y manifest)
# data/raw/**/*.png
# data/raw/**/*.jpg
# data/processed/**/*.png
# data/processed/**/*.jpg

# OS
Thumbs.db
Desktop.ini
.DS_Store
